*,
*:after,
*:before {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	padding: 10px;
	float: left;
}

[class^='col-']:last-of-type {
	padding-right: 10px;
	float: right;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col-100 { width: 100%; }
.col-50 { width: 50%; }

@media (max-width:720px) {
	.col-50 {
		width: 100%;
	}
}

body {
	max-width: 1024px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	margin: 5px 0 8px;
}

p {
	margin: 15px 0 10px;
}

input[type="text"] {
	width: 80px;
	padding: 6px;
}

textarea {
	width: 400px;
	padding: 6px;
}

button {
	padding: 6px;
}
